@charset "utf-8";
/* padding을 활용한 ir */
.brand1{
background: yellowgreen url(./images/zen_garden.png) no-repeat;
height:0px;
width:290px;
padding-top:195px;
overflow: hidden;
}
.brand2{
background: yellow url(./images/zen_garden.png) no-repeat;
height:195px;
width:290px;
text-indent:290px;
white-space:nowrap;
}
.brand3{
background: lime;
height:195px;
line-height:195;
width:290px;
text-align:center;
font-size:16px;
font-weight: 400;
position: relative;
}

.brand3::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
}