@charset "utf=8";

body {
    margin: 0;
}
.header, .visual, .main-content, .slogan {
    margin:0 auto;
    width: 940;;
}
.header {
    background: pink;
    padding: 0 50px;
    height: 10vh;
    }
.visual {
    background: lime;
    height: 120px;
}
.main-contents {
    min-height: 400px;
    background: skyblue;
}
.slogan {
    background: orange;
    padding: 15px 0;
}
.gooter-bg {
    background: silver;
    padding: 15px;
}
.footer {
background: yellow;
}